
.tituloUno{
  padding-left: 30px;
}

 #banner{
   width: 100%;

 }


 .principal{
    background: #f2f2f2;
    padding: 20px;
  
 }

 .centrado{
    text-align: center;
    background: #CCCCCC;
    padding: 10px;
    margin: 0;

 }

p{
    text-align: center;
 }

 em strong{
    color: #ff0000;
 }

 #mision{
    font-size: 20px;
 }	

 .Diferenciales{
   background: #fff;
   padding: 30px;
 }

 .items{
  font-style: italic;
 }

 ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
 }

 .imagenDiferenciales{
   width: 50%;
 }	